<div class="js-graph" data-label-width="209" id="barHG">
<header>
   <div class="js-chart-head"><span>{{parentId}}_{{leagueId}}</span></div>
   <!-- <div style="font-size: 14px; line-height: 20px; margin-top: 12px; margin-bottom: 16px;"><span>Standfirst here if needed*</span></div> -->
   <div class="js-keys" style="line-height: 18px; color: rgb(51, 51, 51); margin-left: 0px;"><span>value</span></div>
</header>
<div style="position: relative; height: auto;">
   <div style="width: 100%; padding-top: 24px;">
      <div style="min-height: 24px;">
        <div class="js-text" id="{{parentId}}_{{leagueId}}_BarTitle_0">XXX</div>
         <div class="js-bars">
            <div class="js-chart-value-bar right" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_rhBar_0"></div>
             <div class="js-chart-value-bar left" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_lhBar_0"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 20%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 40%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 60%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 80%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 100%;"></div>
         </div>
      </div>
      <div style="min-height: 24px;">
        <div class="js-text"  id="{{parentId}}_{{leagueId}}_BarTitle_1"><span>XXX</span></div>
         <div class="js-bars">
            <div class="js-chart-value-bar right" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_rhBar_1"></div>
            <div class="js-chart-value-bar left" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_lhBar_1"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 20%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 40%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 60%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 80%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 100%;"></div>
         </div>
      </div>
      <div style="min-height: 24px;">
         <div class="js-text"  id="{{parentId}}_{{leagueId}}_BarTitle_2"><span> </span></div>
         <div class="js-bars">
            <div class="js-chart-value-bar right" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_rhBar_2"></div>
            <div class="js-chart-value-bar left" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_lhBar_2"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 20%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 40%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 60%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 80%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 100%;"></div>
         </div>
      </div>
      <div style="min-height: 24px;">
        <div class="js-text"  id="{{parentId}}_{{leagueId}}_BarTitle_3"><span> </span></div>
         <div class="js-bars">
            <div class="js-chart-value-bar right" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_rhBar_3"></div>
            <div class="js-chart-value-bar left" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_lhBar_3"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 20%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 40%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 60%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 80%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 100%;"></div>
         </div>
      </div>
      <div style="min-height: 24px;">
        <div class="js-text"  id="{{parentId}}_{{leagueId}}_BarTitle_4"><span> </span></div>
         <div class="js-bars">
            <div class="js-chart-value-bar right" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_rhBar_4"></div>
            <div class="js-chart-value-bar left" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_lhBar_4"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 20%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 40%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 60%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 80%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 100%;"></div>
         </div>
      </div>
      
      
      {{#if tenBar}}
        <div style="min-height: 24px;">
        <div class="js-text" id="{{parentId}}_{{leagueId}}_BarTitle_5"> </div>
         <div class="js-bars">
            <div class="js-chart-value-bar right" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_rhBar_5"></div>
            <div class="js-chart-value-bar left" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_lhBar_5"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 20%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 40%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 60%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 80%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 100%;"></div>
         </div>
      </div>
      <div style="min-height: 24px;">
        <div class="js-text"  id="{{parentId}}_{{leagueId}}_BarTitle_6"><span> </span></div>
         <div class="js-bars">
            <div class="js-chart-value-bar right" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_rhBar_6"></div>
            <div class="js-chart-value-bar left" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_lhBar_6"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 20%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 40%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 60%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 80%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 100%;"></div>
         </div>
      </div>
      <div style="min-height: 24px;">
         <div class="js-text"  id="{{parentId}}_{{leagueId}}_BarTitle_7"><span> </span></div>
         <div class="js-bars">
            <div class="js-chart-value-bar right" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_rhBar_7"></div>
            <div class="js-chart-value-bar left" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_lhBar_7"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 20%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 40%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 60%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 80%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 100%;"></div>
         </div>
      </div>
      <div style="min-height: 24px;">
        <div class="js-text"  id="{{parentId}}_{{leagueId}}_BarTitle_8"><span> </span></div>
         <div class="js-bars">
            <div class="js-chart-value-bar right" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_rhBar_8"></div>
            <div class="js-chart-value-bar left" style="width: 1%;"   id="{{parentId}}_{{leagueId}}_lhBar_8"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 20%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 40%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 60%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 80%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 100%;"></div>
         </div>
      </div>
      <div style="min-height: 24px;">
        <div class="js-text"  id="{{parentId}}_{{leagueId}}_BarTitle_9"><span> </span></div>
         <div class="js-bars">
            <div class="js-chart-value-bar right" style="width: 1%;" id="{{parentId}}_{{leagueId}}_rhBar_9"></div>
            <div class="js-chart-value-bar left" style="width: 1%;" id="{{parentId}}_{{leagueId}}_lhBar_9"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 20%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 40%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 60%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 80%;"></div>
            <div style="position: absolute; background-color: rgba(255, 255, 255, 0.5); width: 1px; height: 16px; top: 0px; left: 100%;"></div>
         </div>
      </div>


      {{/if}}

   </div>
   <div class="js-axis" style="position: absolute; top: 0px; right: 0px; height: 24px; width: 100%;">
      <div style="background-color: rgb(189, 189, 189); width: 1px; height: 4px; position: absolute; top: 22px; left: 0%;"></div>
      <!-- <div style="background-color: rgb(189, 189, 189); width: 1px; height: 4px; position: absolute; top: 19px; left: 20%;"></div>
      <div style="background-color: rgb(189, 189, 189); width: 1px; height: 4px; position: absolute; top: 19px; left: 40%;"></div>
      <div style="background-color: rgb(189, 189, 189); width: 1px; height: 4px; position: absolute; top: 19px; left: 60%;"></div>
      <div style="background-color: rgb(189, 189, 189); width: 1px; height: 4px; position: absolute; top: 19px; left: 80%;"></div> -->
      <div style="background-color: rgb(189, 189, 189); width: 1px; height: 4px; position: absolute; top: 22px; left: 50%;"></div>
      <div style="background-color: rgb(189, 189, 189); width: 1px; height: 4px; position: absolute; top: 22px; left: calc(100% - 1px);"></div>
      <div style="color: rgb(51, 51, 51); font-size: 12px; position: absolute; top: 6px; left: 0%; width: 20%; margin-left: 0%; text-align: left;"><span id="maxValLeft" class="max-tick"></span></div>
     <!--  <div style="color: rgb(51, 51, 51); font-size: 12px; position: absolute; top: 6px; left: 20%; width: 20%; margin-left: -10%; text-align: center;"><span>200m</span></div>
      <div style="color: rgb(51, 51, 51); font-size: 12px; position: absolute; top: 6px; left: 40%; width: 20%; margin-left: -10%; text-align: center;"><span>400m</span></div>
      <div style="color: rgb(51, 51, 51); font-size: 12px; position: absolute; top: 6px; left: 60%; width: 20%; margin-left: -10%; text-align: center;"><span>600m</span></div>
   <div style="color: rgb(51, 51, 51); font-size: 12px; position: absolute; top: 6px; left: 80%; width: 20%; margin-left: -10%; text-align: center;"><span>800m</span></div> -->
   <div style="color: rgb(51, 51, 51); font-size: 12px; position: absolute; top: 6px; left: 50%; width: 20%; margin-left: -10%; text-align: center;"><span>0</span></div>
      <div style="color: rgb(51, 51, 51); font-size: 12px; position: absolute; top: 6px; left: 100%; width: 20%; margin-left: -20%; text-align: right;"><span id="maxValRight" class="max-tick"></span></div>
   </div>
</div>

</div>
<!-- <footer style="font-size: 12px; line-height: 16px; margin-top: 8px; font-family: 'Guardian Text Sans Web';">
   <div style="word-break: break-word">
      <span>Guardian graphic | Source: Source(s) here if needed*</span>  
   </div> 

</footer> -->
<div style="visibility: hidden;"><span class="js-test" style="font-size: 15px"></span></div>