<div class="interactive-wrapper">


  <div class="team-slice-wrapper team-slice--">
           <div class="team-slice-container">

                <div class="team-left-col">
                
                    <h2>Premier league</h2>

                </div>  

                <div class="team-main-col" id="graphicOne-prem">

                     

                </div>

           </div>
    
    </div>



    <div class="team-slice-wrapper team-slice--">
           <div class="team-slice-container">

                <div class="team-left-col">
                
                    <!-- <h2>Chart two</h2> -->

                </div>  

                <div class="team-main-col" id="graphicTwo-prem">

                     

                </div>

           </div>
    
    </div>

    <div class="team-slice-wrapper team-slice--">
           <div class="team-slice-container">

                <div class="team-left-col">
                
                   <!--  <h2>Chart two</h2> -->

                </div>  

                <div class="team-main-col" id="graphicThree-prem">

                     

                </div>

           </div>
    
    </div>



    <div class="team-slice-wrapper team-slice--">
           <div class="team-slice-container">

                <div class="team-left-col">
                
                    <h2>Serie A</h2>

                </div>  

                <div class="team-main-col" id="graphicOne-seriea">

                     

                </div>

           </div>
    
    </div>



    <div class="team-slice-wrapper team-slice--">
           <div class="team-slice-container">

                <div class="team-left-col">
                
                    <!-- <h2>Chart two</h2> -->

                </div>  

                <div class="team-main-col" id="graphicTwo-seriea">

                     

                </div>

           </div>
    
    </div>

    <div class="team-slice-wrapper team-slice--">
           <div class="team-slice-container">

                <div class="team-left-col">
                
                   <!--  <h2>Chart two</h2> -->

                </div>  

                <div class="team-main-col" id="graphicThree-seriea">

                     

                </div>

           </div>
    
    </div>






    <div class="team-slice-wrapper team-slice--">
           <div class="team-slice-container">

                <div class="team-left-col">
                
                    <h2>Serie A</h2>

                </div>  

                <div class="team-main-col" id="graphicOne-laliga">

                     

                </div>

           </div>
    
    </div>



    <div class="team-slice-wrapper team-slice--">
           <div class="team-slice-container">

                <div class="team-left-col">
                
                    <!-- <h2>Chart two</h2> -->

                </div>  

                <div class="team-main-col" id="graphicTwo-laliga">

                     

                </div>

           </div>
    
    </div>

    <div class="team-slice-wrapper team-slice--">
           <div class="team-slice-container">

                <div class="team-left-col">
                
                   <!--  <h2>Chart two</h2> -->

                </div>  

                <div class="team-main-col" id="graphicThree-laliga">

                     

                </div>

           </div>
    
    </div>



	{{#each objArr}}​
	
     <div class="team-slice-wrapper team-slice--{{sortOn}}--{{ref}}" data-team="{{teamName}}">
           <div class="team-slice-container">

           	<div class="team-left-col">
				<h2>{{teamNameDisplay}}</h2>

           	</div>	

           	<div class="team-main-col" data-team="{{teamName}}">
				

           	</div>
           


      	   </div>
    
    </div>

    {{/each}}
</div>